$black: #000;
$white: #fff;

$border-radius: 8px;
$border-color: #efefef;
$border-color-active: #0b63ff;
$border-color-active-light: #2573FF;
$font-base: 18px;
$font-size: 1em;
$h1-size: 1.6em;
$h2-size: 1.4em;
$error-color: #e74c3c;
$placeholder-color: #a1a1a1;
$bgcolor: #2573FF;
$button-color: $white;
$button-color-hover: #000;
$button-bgcolor-hover: #000;

$component-height: 54px;
